<div class="splash-container">
	<div class="hideSplashOverLay" ng-class="{darken:homeCtrl.darkenSplash}"></div>
	<div class="splash">
		<h1 class="splash-head"><i class="fa fa-briefcase"></i> Collector Manager</h1>

		<p class="splash-subhead">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>

		<p>
			<a scroll-to="quick-collection" offset="30" callback-before="homeCtrl.darkenSlider"
			   class="pure-button pure-button-primary cursorPointer">{{homeCtrl.collection.length>0 ? 'My Collection' : 'Search'}}</a>
		</p>
	</div>
</div>
<div class="content-wrapper" id="quick-collection">
	<div class="content">
		<!-- Slider Directive -->
		<collection-slider slides-to-show="4" slide-pages="3" ng-if="homeCtrl.collection.length>0"></collection-slider>
		<!--Search Directive -->
		<search-form ng-if="homeCtrl.collection.length==0" class="homeSearchForm"></search-form>
	</div>
	<div class="ribbon homeRibbon l-box-lrg pure-g">
		<div class="l-box-lrg tar pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
			<img src="img/common/cv-logo-girl.jpg" alt="ComicVine.com" class="pure-image-responsive">
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">

			<h2 class="content-head content-head-ribbon">GEt What You Need! ComicVine.com</h2>

			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor.
			</p>
			<a href="http://www.comicvine.com" target="_blank" class="pure-button button-comicVine">Visit ComicVine.com</a>
		</div>
	</div>
</div>
