<div class="pure-g" ng-show="collection[collection.viewType].length>0">
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4" ng-repeat="comic in collection[collection.viewType]">
		<div class="comicBox">
			<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				{{ comic.name }}
			</h3>
			<div class="comicPreviewContainer largeComicPreview">
				<div class="comicPreview" hover-class="flipped">
					<figure class="front">
						<img ng-src="{{ comic.image.medium_url || comic.image }}" class="responsiveImage">
					</figure>
					<figure class="back">
						<p>{{ comic.name }}</p>

						<div>
							{{ comic.deck | limitTo:200}}
						</div>
					</figure>
				</div>
			</div>
			<a href="#/comic/{{ comic.id }}" class="pure-button whtLnk">Detail</a>
			<button class="pure-button button-error" ng-click="removeFromCollection(comic)">Remove</button>
		</div>
	</div>
</div>
<div ng-show="collection[collection.viewType].length<=0">
	<h2 ng-if="collection.viewType==='mine'">You Have No Items In Your Collection! <i class="fa fa-frown-o"></i></h2>
	<h2 ng-if="collection.viewType==='favorites'">You Have No Favorites! <i class="fa fa-frown-o"></i></h2>
	<h2 ng-if="collection.viewType==='search'">Sorry No Results! <i class="fa fa-frown-o"></i></h2>
</div>
