<h2 class="content-head tac">Some Items From Your Collection</h2>
<div class="pure-g">
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<div class="comicBox">
			<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				Get Started Quickly
			</h3>

			<div class="group">
				<img src="http://placehold.it/350x450" class="pure-img-responsive ">
			</div>
			<p>
				Phasellus eget enim eu zsdd lectus faucibus vestibulum. Suspendisse sodales pellentesque
				elementum.
			</p>
			<ul class="padleft20">
				<li>Item</li>
				<li>Item</li>
				<li>Item</li>
			</ul>
			<button class="pure-button">More</button>
		</div>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<div class="comicBox">
			<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				Get Started Quickly
			</h3>

			<div class="group">
				<img src="http://placehold.it/350x450" class="pure-img-responsive ">
			</div>
			<p>
				Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
				elementum.
			</p>
			<ul class="padleft20">
				<li>Item</li>
				<li>Item</li>
				<li>Item</li>
			</ul>
			<button class="pure-button">More</button>
		</div>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<div class="comicBox">
			<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				Get Started Quickly
			</h3>

			<div class="group">
				<img src="http://placehold.it/350x450" class="pure-img-responsive ">
			</div>
			<p>
				Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
				elementum.
			</p>
			<ul class="padleft20">
				<li>Item</li>
				<li>Item</li>
				<li>Item</li>
			</ul>
			<button class="pure-button">More</button>
		</div>
	</div>
	<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
		<div class="comicBox">
			<h3 class="content-subhead">
				<i class="fa fa-rocket"></i>
				Get Started Quickly
			</h3>

			<div class="group">
				<img src="http://placehold.it/350x450" class="pure-img-responsive ">
			</div>
			<p>
				Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
				elementum.
			</p>
			<ul class="padleft20">
				<li>Item</li>
				<li>Item</li>
				<li>Item</li>
			</ul>
			<button class="pure-button">More</button>
		</div>
	</div>
</div>
